@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");
.all_signup_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.board_head {
  display: flex;
  transform: translateX(-100%);
}
.board_head .board_tap {
  flex-grow: 5;
  align-content: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.board_head .board_tap .logo p {
  color: brown;
}
.board_head .board_tap .logo p:nth-child(1) {
  font-size: 40px;
}
.board_head .board_tap .logo p:nth-child(2) {
  font-size: 10px;
  padding-left: 10px;
}
.board_head .board_tap .logo_base {
  font-size: 20px;
}
.board_head .board_login {
  flex-grow: 2;
  align-content: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  align-items: center;
}
.board_head .board_login a {
  margin: 10px;
}

* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.sign-box {
  display: block;
  background-color: #ffffff;
  width: 320px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.id-check_box {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sign-box .id-check {
  display: block;
  background-color: brown;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
}

.sign-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333333;
}

.sign-box form {
  display: flex;
  flex-direction: column;
}

.user-box_sign {
  position: relative;
  margin-bottom: 20px;
}

.t {
  display: flex;
}

.user-box_sign input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #333333;
  border: none;
  border-bottom: 1px solid #333333;
  outline: none;
  background: transparent;
}

.user-box_sign label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #333333;
  pointer-events: none;
  transition: 0.5s;
}

.user-box_sign input:focus ~ label,
.user-box_sign input:valid ~ label {
  top: -20px;
  font-size: 12px;
  color: #333333;
}
.btn-primary > {
    background-color: white;
}
.btn-primary span{
    color: white;
}



.id-check{
 display: inline-block;
  background-color: brown;
  color: #ffffff;
  text-align: center;
  padding: 8px 20px;
  margin: 6px 10px 6px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}
.id-check:hover {
  background-color: #b85252;
}
.btn-primary{
  display: inline-block;
  color: #ffffff;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}
.brownColor{
  background-color: brown;
}
.brownColor:hover{
  background-color: #b85252;
}


<!--중복확인 비활성화 관련-->
.disabled >{
  pointer-events: none;
  background-color: #f2f2f2;
  border-color: #ddd;
  color: #aaa;
}
.disabled span{
  pointer-events: none;
  border-color: #ddd;
  color: #aaa;
}
