<!doctype html>
<html layout:decorate="~{layout}"
      lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
<!--    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/userBoard_businessBoard/review.css}">
    <title>방게!</title>
</head>
<body layout:fragment="content">
<!-- 최상단을 표시하기위한 div -->
<div id="scrolltop"></div>
<div class="form">
    <!--  머리부분 로그인 회원가입 등 시작-->
    <div class=board_head>
        <div class=board_tap>
            <a class="logo" th:href="@{/UserBoard/main}">
                <div>
                    <p>방게</p>
                    <p>방구석인테리어 게시판 </p>
                </div>
            </a>
            <a class="logo_base " th:href="@{/UserBoard/main}">
                <div>
                    <p>유저게시판</p>
                </div>
            </a>
            <a class="logo_base select" th:href="@{/BusinessBoard/home}">
                <div>
                    <p>사업자 게시판</p>
                </div>
            </a>
            <a class="logo_base" th:href="@{/Store/}">
                <div>
                    <p>스토어</p>
                </div>
            </a>
        </div>
        <div class="board_login" sec:authorize="isAnonymous()">
            <a class="login" th:href="@{/user/login}">
                <div>
                    <p>로그인</p>
                </div>
            </a>
            /
            <a th:href="@{/user/Initiation_General}" class="signup">
                <div>
                    <p>회원가입</p>
                </div>
            </a>
        </div>
        <div class="board_login" sec:authorize="isAuthenticated()">
            <a class="login" th:if="${user.businessman_num == null}" th:href="@{/user/Business_General}">
                <div>
                    <p>사업자전환 /</p>
                </div>
            </a>

            <a class="login" th:href="@{/user/logout}">
                <div>
                    <p>로그아웃</p>
                </div>
            </a>
        </div>
    </div>
    <!--  머리부분 로그인 회원가입 등 끝-->
    <hr>
    <!--  상단 nav바 시작-->
    <nav class="top_nav">
        <a  th:href="@{/BusinessBoard/home}">
            <div>
                <p>홈</p>
            </div>
        </a>
        <a th:href="@{/BusinessBoard/part}">
            <div>
                <p>부분공사</p>
            </div>
        </a>
        <a th:href="@{/BusinessBoard/integral}"  class="select">
            <div>
                <p>전체공사</p>
            </div>
        </a>
        <a th:href="@{/BusinessBoard/event}">
            <div>
                <p>이벤트</p>
            </div>
        </a>
        <a th:href="@{/BusinessBoard/map}">
            <div>
                <p>업체퀵링크</p>
            </div>
        </a>
    </nav>
    <!--  상단 nav바 끝 -->
    <!--사업자 게시판 리스트 구현 시작-->

    <div class ="free_notice_board">
        <ul>
            <li>전체공사 게시판</li>

        </ul>
        <li class ="sign"><a th:href="@{/BusinessBoard/Create_BusinessBoard_integral}">글쓰기</a></li>
    </div>
    <br>
    <hr style="border: solid 1px black;">
    <br>

    <table class = "user_board">
        <thead class="user_board_title">
        <!--사업자보드 정렬 구현 시작-->
        <tr>
            <th><a>번호</a></th>
            <th><a th:href="@{/UserBoard/free_Board(attribute='title', sortData= ${sortData})}" >제목</a></th>
            <th><a th:href="@{/UserBoard/free_Board(attribute='author.id', sortData= ${sortData})}" >글쓴이</a></th>
            <th><a th:href="@{/UserBoard/free_Board(attribute='createDate', sortData= ${sortData})}" >등록일</a></th>
            <th><a th:href="@{/UserBoard/free_Board(attribute='views', sortData= ${sortData})}" >조회수</a></th>
            <th><a href="#">추천수</a></th>
        </tr>
        <!--사업자보드 정렬 구현 끝-->
        </tr>
        <tr>
            <th>
                <hr style="border: solid 1px rgb(180, 180, 180);
                               margin-top :10px;
                               margin-bottom : 10px;">
            </th>
            <th>
                <hr style="border: solid 1px rgb(180, 180, 180);
                               margin-top :10px;
                               margin-bottom : 10px;">
            </th>
            <th>
                <hr style="border: solid 1px rgb(180, 180, 180);
                               margin-top :10px;
                               margin-bottom : 10px;">
            </th>
            <th>
                <hr style="border: solid 1px rgb(180, 180, 180);
                               margin-top :10px;
                               margin-bottom : 10px;">
            </th>
            <th>
                <hr style="border: solid 1px rgb(180, 180, 180);
                               margin-top :10px;
                               margin-bottom : 10px;">
            </th>
            <th>
                <hr style="border: solid 1px rgb(180, 180, 180);
                               margin-top :10px;
                               margin-bottom : 10px;">
            </th>
        </tr>
        <tr th:each="board, loop : ${paging}">
            <!--            앞의 board 그냥 변수명 주의-->
            <!--            횟수-->
            <th th:text="${board.id}"></th>
            <!--            제목-->
            <th>
                <a th:href="@{|/BusinessBoard/integral_board_detail/${board.id}|}"
                   class = "chat_list"
                   th:text="${board.title}"
                ></a>
            </th>
            <!--            글쓴이-->
            <th >
                <span th:if="${board.author != null}" th:text="${board.author?.nickname}">사용자 없음</span>
            </th>
            <!--            등록일-->
            <th >

                <span th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm') ?: '없음'}"></span>
            </th>
            <!--            조회수-->
            <th >
                <span th:if="${board.views != null}" th:text="${board.views}">없는조회수</span>
            </th>
            <!--            추천수-->
            <th >
                <span th:text="${#lists.size(board.voter)}"></span>
            </th>
        </tr>
        </thead>
        <tbody class= "test" id="user_board_data">
    </table>

    <br>
    <hr style="border: solid 1px black;">
    <!--사업자 게시판 리스트 구현 끝-->

    <!--게시물  버튼 및 찾기 구현 시작-->
    <div class= "list_Count" th:if ="${!paging.isEmpty()}">
        <ul>
            <!--            이전버튼-->
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <div class="frame page-link"
                     href="javascript:void(0)"
                     th:data-page="${paging.number-1}">
                    <button class="custom-btn btn-3">
                        <span>이전 페이지</span>
                    </button>
                </div>
            </li>
            <!--          페이지 획수재한-->
            <div>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item frame">
                    <a th:text="${page}" class="page-link"
                       href="javascript:void(0)" th:data-page="${page}"></a>
                </li>
            </div>

            <!--            다음페이지버튼-->
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <div class="frame page-link"
                     href="javascript:void(0)"
                     th:data-page="${paging.number+1}">
                    <button class="custom-btn btn-3">
                        <span>다음 페이지</span>
                    </button>
                </div>
            </li>
        </ul>
        <!--            찾는용도 끝 -->
    </div>
    <div class ="button_search">
        <ul>
            <li>
                <div class ="frame">
                  <span>
                      <input type="text" id="search_kw" th:value="${kw}">
                  </span>
                </div>
            </li>
            <li>
                <div class ="frame">
                    <button class="custom-btn btn-3" type="button" id="btn_search">
                        <span>검색</span>
                    </button>
                </div>
            </li>
        </ul>
        <form th:action="@{/BusinessBoard/integral}" method="get" id="searchForm">
            <input type="hidden" id="kw" name="kw" th:value="${kw}">
            <input type="hidden" id="page" name="page" th:value="${paging.number}">
        </form>
    </div>
    <!--            찾는용도 끝 -->

    <!--게시물  버튼 및 찾기 구현 끝-->







</div>
    <!-- 가장아래를 표시하기위한 div  -->
    <div id="scrollbottom"></div>

<!--전체 챗화면 시작 스크립트 사용유의-->
<div class="draggable_chat">
    <!--  상단바     -->
    <div class="chat_top_var">
        <p>전체채팅창</p>
        <button id="chat_close" type="button">X</button>
    </div>
    <!--  하단 챗부분 전송과 채팅창    -->
    <div class="chat_main">
        <div class="chat_body" id ="msgArea">
        </div>

        <div class="input_body">
            <input type="text" id="msg">
            <button type="button" id="button-send">전송</button>
        </div>
    </div>

</div>
<!--전체 챗화면 끝 스크립트 사용유의-->

</body>
<script layout:fragment="script" type='text/javascript'>
    // 채팅창 움직이기용 시작
const draggableElementChat = document.querySelector('.draggable_chat');
let isDraggingChat = false;
let offsetXChat = 0;
let offsetYChat = 0;

draggableElementChat.addEventListener('mousedown', function(event) {
  isDraggingChat = true;
  offsetXChat = event.clientX - draggableElementChat.getBoundingClientRect().left;
  offsetYChat = event.clientY - draggableElementChat.getBoundingClientRect().top;
});

document.addEventListener('mousemove', function(event) {
  if (isDraggingChat) {
    const x = event.clientX - offsetXChat;
    const y = event.clientY - offsetYChat;
    draggableElementChat.style.left = x + 'px';
    draggableElementChat.style.top = y + 'px';
  }
});

document.addEventListener('mouseup', function() {
  isDraggingChat = false;
});
// 채팅창 움직이기 끝



// 채팅창 종료혹은 숨김처리 시작
const chatCloseButton = document.getElementById("chat_close");
chatCloseButton.addEventListener('click',()=>{
  draggableElementChat.style.display= "none"
})
// 채팅창 종료혹은 숨김처리 끝


//챗팅창 켜기 시작
const globalChatOpen = document.getElementById("global_chat_open");
globalChatOpen.addEventListener('click',()=>{
  draggableElementChat.style.display = "block"
})
// 채팅창켜기 끝
//검색과 링크 보여주는 시작
 const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('searchForm').submit();
        });
    });
    const btn_search = document.getElementById("btn_search");
    btn_search.addEventListener('click', function() {
        document.getElementById('kw').value = document.getElementById('search_kw').value;
        document.getElementById('page').value = 0;  // 검색버튼을 클릭할 경우 0페이지부터 조회한다.
        document.getElementById('searchForm').submit();
    });
//검색과 링크 보여주는 끝




</script>

</html>

