<!doctype html>
<html layout:decorate="~{layout}"
      lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <!--    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
  <!-- sbb CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/create_board.css}">
  <title>방게!</title>
</head>
<body layout:fragment="content">
<!-- 최상단을 표시하기위한 div -->
<div id="scrolltop"></div>
<div class="form">
  <!--  머리부분 로그인 회원가입 등 시작-->
  <div class=board_head>
    <div class=board_tap>
      <a class="logo" th:href="@{/UserBoard/main}">
        <div>
          <p>방게</p>
          <p>방구석인테리어 게시판 </p>
        </div>
      </a>
      <a class="logo_base " th:href="@{/UserBoard/main}">
        <div>
          <p>유저게시판</p>
        </div>
      </a>
      <a class="logo_base select" th:href="@{/BusinessBoard/home}">
        <div>
          <p>사업자 게시판</p>
        </div>
      </a>
      <a class="logo_base" th:href="@{/Store/}">
        <div>
          <p>스토어</p>
        </div>
      </a>
    </div>
    <div class="board_login" sec:authorize="isAnonymous()">
      <a class="login" th:href="@{/user/login}">
        <div>
          <p>로그인</p>
        </div>
      </a>
      /
      <a th:href="@{/user/Initiation_General}" class="signup">
        <div>
          <p>회원가입</p>
        </div>
      </a>
    </div>
    <div class="board_login" sec:authorize="isAuthenticated()">
      <!--        sec:authorize="isAuthenticated()" 로그인 성공시 나오게 하는 코드       -->
      <a class="login" th:if="${user.businessman_num == null}" th:href="@{/user/Business_General}">
        <div>
          <p>사업자전환 /</p>
        </div>
      </a>

      <a class="login" th:href="@{/user/logout}">
        <div>
          <p>로그아웃</p>
        </div>
      </a>
    </div>
  </div>
  <!--  머리부분 로그인 회원가입 등 끝-->
  <hr>
  <!--  상단 nav바 시작-->
  <nav class="top_nav">
    <a th:href="@{/BusinessBoard/home}">
      <div>
        <p>홈</p>
      </div>
    </a>
    <a th:href="@{/BusinessBoard/part}">
      <div>
        <p>부분공사</p>
      </div>
    </a>
    <a th:href="@{/BusinessBoard/integral}">
      <div>
        <p>전체공사</p>
      </div>
    </a>
    <a th:href="@{/BusinessBoard/event}">
      <div>
        <p>이벤트</p>
      </div>
    </a>
    <a th:href="@{/BusinessBoard/home}" class="select">
      <div>
        <p>업체퀵링크
        </p>
        <!--                <ul class = "qik">-->
        <!--                    <li class="qik_in"><a th:href="@{/BusinessBoard/home}"> 업체1 </a></li>-->
        <!--                    <li class="qik_in"><a th:href="@{/BusinessBoard/home}"> 업체2 </a></li>-->
        <!--                    <li class="qik_in"><a th:href="@{/BusinessBoard/home}"> 업체3 </a></li>-->
        <!--                </ul>-->
      </div>
    </a>
  </nav>
  <!--  상단 nav바 끝 -->
  <!--  작업시작-->
  <!--사업자 게시판 리스트 구현 시작-->
  <div class="free_notice_board">
    <ul>
      <li>프로필 수정</li>
    </ul>
  </div>
  <br>
  <hr style="border: solid 1px black;">
  <br>

  <form th:object="${boardCreateForm}" method="post">
    <input type="hidden" th:name="${parameterName}" th:value="${token}"/>
    <!-- 여기서부터 제목 -->
    <div>
      <input type="text"
             th:field="*{title}"
             class="input_title"
             placeholder="제목을 입력하세요"/>
    </div>
    <br>
    <hr style="border: solid 1px rgb(180, 180, 180);">
    <br>
    <!-- 여기서부터 바디시작 -->
    <div>
      <input id="summernote"
             class="input_content"/>
      <input id="contentSave"
             type="text"
             th:field="*{content}"
             class="input_content"
             placeholder="나중에 api로 대체될예정"/>

    </div>
    <br>
    <hr style="border: solid 1px black;">

    <!--게시물  저장버튼 구현 시작-->
    <div class="button_search frame">
      <input type="submit" value="저장" class="custom-btn btn-3">
    </div>
    <!--게시물  버튼 및 찾기 구현 끝-->
    <!--  작업끝 -->
  </form>


</div>
<!-- 가장아래를 표시하기위한 div  -->
<div id="scrollbottom"></div>

<!--전체 챗화면 시작 스크립트 사용유의-->
<div class="draggable_chat">
  <!--  상단바     -->
  <div class="chat_top_var">
    <p>전체채팅창</p>
    <button id="chat_close" type="button">X</button>
  </div>
  <!--  하단 챗부분 전송과 채팅창    -->
  <div class="chat_main">
    <div class="chat_body" id="msgArea">
    </div>

    <div class="input_body">
      <input type="text" id="msg">
      <button type="button" id="button-send">전송</button>
    </div>
  </div>

</div>
<!--전체 챗화면 끝 스크립트 사용유의-->
</body>
<script layout:fragment="script" type='text/javascript'>
// 썸머노트 시작
$(document).ready(function() {

      $('#summernote').summernote({
        placeholder: '내용을 적어주세요',
        tabsize: 2,
        height: 400,

        callbacks: {	//여기 부분이 이미지를 첨부하는 부분
					onImageUpload : function(files) {
						uploadSummernoteImageFile(files[0],this);
					},
					onPaste: function (e) {
						var clipboardData = e.originalEvent.clipboardData;
						if (clipboardData && clipboardData.items && clipboardData.items.length) {
							var item = clipboardData.items[0];
							if (item.kind === 'file' && item.type.indexOf('image/') !== -1) {
								e.preventDefault();
							}
						}
					}
				}
      });


    function contentF(){
        var content = $('#contentSave').val();
        $('#summernote').summernote('code', content);
    }
    contentF();
    function autoSave() {
        var content = $('#summernote').summernote('code');
        $('#contentSave').val(content);
    }

     $('#summernote').on('summernote.change', function() {
        autoSave(); // 타이핑할 때마다 자동으로 저장
    });




});
function uploadSummernoteImageFile(file, editor) {
		data = new FormData();
		data.append("file", file);
		$.ajax({
			data : data,
			type : "POST",
			url : "/uploadSummernoteImageFile",
			contentType : false,
			processData : false,
			success : function(data) {
            	//항상 업로드된 파일의 url이 있어야 한다.
            	console.log("현제 들어온 데이터"+data.url)
				$(editor).summernote('insertImage', data.url);
			},
			error: function(xhr, response, status, error) {
            console.log("Error:", response);
           }
		});
		}
// 썸머노트 끝
// 채팅창 움직이기용 시작
const draggableElementChat = document.querySelector('.draggable_chat');
let isDraggingChat = false;
let offsetXChat = 0;
let offsetYChat = 0;

draggableElementChat.addEventListener('mousedown', function(event) {
  isDraggingChat = true;
  offsetXChat = event.clientX - draggableElementChat.getBoundingClientRect().left;
  offsetYChat = event.clientY - draggableElementChat.getBoundingClientRect().top;
});

document.addEventListener('mousemove', function(event) {
  if (isDraggingChat) {
    const x = event.clientX - offsetXChat;
    const y = event.clientY - offsetYChat;
    draggableElementChat.style.left = x + 'px';
    draggableElementChat.style.top = y + 'px';
  }
});

document.addEventListener('mouseup', function() {
  isDraggingChat = false;
});
// 채팅창 움직이기 끝


// 채팅창 종료혹은 숨김처리 시작
const chatCloseButton = document.getElementById("chat_close");
chatCloseButton.addEventListener('click',()=>{
  draggableElementChat.style.display= "none"
})
// 채팅창 종료혹은 숨김처리 끝


//챗팅창 켜기 시작
const globalChatOpen = document.getElementById("global_chat_open");
globalChatOpen.addEventListener('click',()=>{
  draggableElementChat.style.display = "block"
})
// 채팅창켜기 끝




</script>

</html>

