@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap");
* {
  font-family: "Noto Sans KR", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

img {
  box-shadow: 1px 2px 5px black;
  transition: all 0.4s, transform 0.2s;
  object-fit: cover;
  border-radius: 10px;
}

hr {
  border: solid 2px brown;
}

img:hover {
  transform: scale(1.05);
}

.sflex {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

a:hover p {
  color: brown;
}

a:hover {
  color: brown;
}

.select > p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  width: auto;
  color: brown;
}

.select > div > p {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  color: brown;
}

.board_head {
  display: flex;
}
.board_head .board_tap {
  flex-grow: 5;
  align-content: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.board_head .board_tap .logo p {
  color: brown;
}
.board_head .board_tap .logo p:nth-child(1) {
  font-size: 40px;
}
.board_head .board_tap .logo p:nth-child(2) {
  font-size: 10px;
  padding-left: 10px;
}
.board_head .board_tap .logo_base {
  font-size: 20px;
}
.board_head .board_login {
  flex-grow: 2;
  align-content: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  align-items: center;
}
.board_head .board_login a {
  margin: 10px;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 1200px;
}

.top_nav {
  align-items: center;
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
}

.top_nav p {
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  vertical-align: middle;
}

.top_nav a {
  width: 200px;
  padding: 10px;
}

h3 {
  font-size: 25px;
}

.select > p {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 25px;
  width: auto;
  color: brown;
}

/* 메인 팁 이미지 시작  */
.tip_board {
  border-radius: 10px;
  display: flex;
  height: 500px;
}
.tip_board div {
  margin: 10px;
}
.tip_board .flexCenter {
  display: flex;
  justify-content: center;
}
.tip_board img {
  position: absolute;
  width: 100%;
  height: 100%;
  /*   transition-timing-function:cubic-bezier(0.165,0.84,0,44,1) */
}
.tip_board .right_tip {
  justify-content: center;
  position: relative;
  flex-grow: 5;
}
.tip_board .left_tip {
  justify-content: center;
  position: relative;
  flex-grow: 8;
}
.tip_board .left_tip .left_button > button,
.tip_board .left_tip .right_button > button {
  position: absolute;
  z-index: 99999;
  border-radius: 50%;
  font-size: 40px;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: all 1s;
  background-color: white;
  border-color: white;
}
.tip_board .left_tip:hover .left_button > button,
.tip_board .left_tip:hover .right_button > button {
  opacity: 1;
}
.tip_board .right_tip .left_button > button,
.tip_board .right_tip .right_button > button {
  position: absolute;
  z-index: 99999;
  border-radius: 50%;
  font-size: 40px;
  width: 80px;
  height: 80px;
  opacity: 0;
  transition: all 1s;
  background-color: white;
  border-color: white;
}
.tip_board .right_tip:hover .left_button > button,
.tip_board .right_tip:hover .right_button > button {
  opacity: 1;
}
.tip_board .left_button > button {
  top: 50%;
  transform: translateY(-50%);
  left: -8%;
}
.tip_board .right_button > button {
  top: 50%;
  transform: translateY(-50%);
  right: -8%;
}

/* 메인 팁 이미지 끝 */
/*메인 리뷰게시판 시작 */
.review_board {
  display: flex;
  align-items: center;
  /* 이미지를 수직으로 가운데 정렬 */
}
.review_board img {
  width: 95%;
  height :  100%;
  /* 이미지의 가로 크기를 조정 */
  margin-right: 10px;
  /* 이미지 사이에 간격을 주기 위해 우측 마진 추가 */
}
.review_board a {
    width :95%;
    height : 95%;
  text-decoration: none;
  /* 링크의 기본 텍스트 꾸밈 제거 */
}

/*메인 리뷰게시판 끝 */
/*매인 뉴스 게시판 시작*/
.news_board {
  display: flex;
  align-items: center;
  /* 이미지를 수직으로 가운데 정렬 */
}
.news_board img {
  width: 95%;
  /* 이미지의 가로 크기를 조정 */
  height: auto;
  /* 세로 크기는 자동으로 조정 */
  margin-right: 10px;
  /* 이미지 사이에 간격을 주기 위해 우측 마진 추가 */
}
.news_board a {
  text-decoration: none;
  /* 링크의 기본 텍스트 꾸밈 제거 */
}

/*매인 뉴스 게시판 끝*/
/*매인 자유 게시판 시작*/
.news_board {
  display: flex;
  align-items: center;
  /* 이미지를 수직으로 가운데 정렬 */
}
.news_board img {
  width: 95%;
  /* 이미지의 가로 크기를 조정 */
  height: auto;
  /* 세로 크기는 자동으로 조정 */
  margin-right: 10px;
  /* 이미지 사이에 간격을 주기 위해 우측 마진 추가 */
}
.news_board a {
  text-decoration: none;
  /* 링크의 기본 텍스트 꾸밈 제거 */
}


/*매인 자유 게시판 끝*/
.popup_body {
  margin: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  position: sticky;
  height: 0;
  top: 0;
}
.popup_body .popup_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  padding: 10px;
  position: absolute;
  flex-direction: column;
  margin: 50px;
  margin-top: 100px;
  background-color: rgba(235, 180, 150, 0.7);
  border-radius: 100px;
  box-shadow: 1px 2px 5px black;
}
.popup_body .nav_button {
  transition: all 0.2s;
  padding-bottom: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  padding-top: 10px;
  font-weight: 600;
  transition: all 0.8s;
  text-align: center;
  position: relative;
  display: block;
  border: 0px;
  padding: 0;
  width: 100%;
  float: left;
  box-shadow: 0px 0px 0px 0px greenyellow;
}
.popup_body a{
    width:100%;
}
.popup_body .nav_button:hover {
  box-shadow: 0px 0px 0px 10px lightcoral;
}
.popup_body .nav_top, .popup_body .nav_down {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.popup_body .nav_down {
  margin-bottom: 0;
}

.draggable_chat {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  cursor: move;
  background-color: rgba(255, 180, 150, 0.7);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 2px 5px black;
}
.draggable_chat .chat_top_var {
  text-align: right;
  background-color: white;
  padding: 4px;
  margin: 5px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.draggable_chat .chat_body {
  margin: 5px;
  padding: 20px;
  background-color: white;
  height: auto;
}
.chat_body{
overflow: scroll;
}
.draggable_chat .chat_top_var > button {
  width: 20px;
  height: 20px;
}
.draggable_chat .chat_main {
  display: flex;
  height: 460px;
  flex-direction: column;
  justify-content: flex-end;
}
.draggable_chat .chat_main .chat_body {
  padding: 5px;
  flex-grow: 110;
  justify-content: flex-end;
}
.draggable_chat .chat_main .input_body {
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  padding: 10px;
}
.draggable_chat .chat_main .input_body > input {
  flex-grow: 8;
}
.draggable_chat .chat_main .input_body > button {
  margin-left: 10px;
  flex-grow: 2;
  padding: 5px;
}
.draggable_chat .chat_top_var {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}
.draggable_chat .chat_top_var > button {
  background: #6009f0;
  color: white;
  background: linear-gradient(0deg, gray 0%, black 100%);
  border: none;
}
.draggable_chat .chat_top_var > button:before {
  height: 0%;
  width: 2px;
}
.draggable_chat .chat_top_var > button:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.draggable_comparison {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 600px;
  cursor: move;
  background-color: rgba(255, 180, 150, 0.7);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 2px 5px black;
  /* 체크박스 버튼 구현 시작 */
}
.draggable_comparison .comparison_top_var {
  text-align: right;
  background-color: white;
  padding: 4px;
  margin: 5px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.draggable_comparison .comparison_top_var > button {
  width: 20px;
  height: 20px;
}
.draggable_comparison .comparison_top_var {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}
.draggable_comparison .comparison_top_var > button {
  background: #6009f0;
  color: white;
  background: linear-gradient(0deg, gray 0%, black 100%);
  border: none;
}
.draggable_comparison .comparison_top_var > button:before {
  height: 0%;
  width: 2px;
}
.draggable_comparison .comparison_top_var > button:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
.draggable_comparison .comparison_color {
  display: relative;
}
.draggable_comparison .comparison_color > p {
  text-align: center;
}
.draggable_comparison .comparison_img {
  position: relative;
  height: 500px;
  width: 300px;
}
.draggable_comparison .comparison_img > img:hover {
  transform: scale(1);
}
.draggable_comparison .comparison_img.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}
.draggable_comparison .comparison_img.overlay1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 300px;
  z-index: 1;
  background-color: rgba(225, 225, 225, 0.35);
}
.draggable_comparison .comparison_img.overlay2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 300px;
  z-index: 1;
  background-color: rgba(127, 127, 100, 0.35);
}
.draggable_comparison .comparison_img.overlay3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 300px;
  z-index: 1;
  background-color: rgba(148, 112, 54, 0.35);
}
.draggable_comparison .comparison_img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: 2;
}
.draggable_comparison .comparison_img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.draggable_comparison .comparison_color > ul {
  display: flex;
  list-style: none;
  margin-bottom: 10px;
}
.draggable_comparison .comparison-parent-span {
  margin-left: 8px;
  padding-left: 10px;
}
.draggable_comparison .input-position {
  margin-top: 10px;
}
.draggable_comparison .label_comparison {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.draggable_comparison [type=checkbox] {
  appearance: none;
  position: relative;
  border: max(2px, 0.1em) solid gray;
  border-radius: 1.25em;
  width: 2.25em;
  height: 1.25em;
}
.draggable_comparison [type=checkbox]::before {
  content: "";
  position: absolute;
  left: 0;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  transform: scale(0.8);
  background-color: gray;
  transition: left 250ms linear;
}
.draggable_comparison [type=checkbox]:checked {
  background-color: tomato;
  border-color: tomato;
}
.draggable_comparison [type=checkbox]:checked::before {
  background-color: white;
  left: 1em;
}
.draggable_comparison [type=checkbox]:disabled {
  border-color: lightgray;
  opacity: 0.7;
  cursor: not-allowed;
}
.draggable_comparison [type=checkbox]:disabled:before {
  background-color: lightgray;
}
.draggable_continence {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  cursor: move;
  background-color: rgba(255, 180, 150, 0.7);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 2px 5px black;
}
.draggable_continence .popup_top_var {
  text-align: right;
  background-color: white;
  padding: 4px;
  margin: 5px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.draggable_continence .popup_top_var > button {
  width: 20px;
  height: 20px;
}
.draggable_continence .popup_top_var {
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}
.draggable_continence .popup_top_var > button {
  background: #6009f0;
  color: white;
  background: linear-gradient(0deg, gray 0%, black 100%);
  border: none;
}
.draggable_continence .popup_top_var > button:before {
  height: 0%;
  width: 2px;
}
.draggable_continence .popup_top_var > button:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5), -4px -4px 6px 0 rgba(116, 125, 136, 0.5), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}

.pattern img {
  width: 80%;
  height: 300px;
}

.pattern {
  display: flex;
  justify-content: center;
}

.pat {
  text-align: center;
  padding: 10px;
}

.pat_in {
  margin: 15px;
  display: flex;
  justify-content: space-between;
}

.p_p {
  width: 100px;
}

.pattern_img img {
  width: 15%;
  height: 30px;
}

.pattern_img {
  display: flex;
  justify-content: space-between;
}

/*뉴스쪽 스타일 */
#magazine_list{
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
    display: block;
    font-size: 0;
}
.big_title{
    color: #333;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
    text-align: center;
    margin-bottom: 25px;
    }

    .magazine_list_inner{
        color: #333;
        margin: 0;
        padding: 0;
        border: 0;
        font: inherit;
        vertical-align: top;
        background-color: #fff;
    }
  .magazine_item  {
        color: #333;
        margin: 0;
        border: 0;
        font: inherit;
        vertical-align: top;
        position: relative;
        display: inline-block;
        width: 33.333%;
        padding: 17px 17px 50px;
        margin-bottom: 17px;
        box-sizing: border-box;
        }
.magazine_item_img {
    color: #333;
    cursor: zoom-in;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 0;
    padding-bottom: 61.8%;
    overflow: hidden;
    object-fit: full;

}
.magazine_item_img img{
    color: #333;
    cursor: zoom-in;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: top;
    width: 100%;
}
/*뉴스쪽 스타일 */