
<script th:fragment="chatScriptFragment" th:inline="javascript" xmlns:th="http://www.w3.org/1999/xhtml">
    var chatStatus = document.querySelector('.draggable_chat');
    var displayValue = window.getComputedStyle(chatStatus).getPropertyValue('display');
        //챗팅 스크립트 시작
         $(document).ready(function(){
              const currentHost = window.location.host;
              var user = /*[[${#authentication.principal}]]*/
              $("#disconn").on("click", (e) => {
                  disconnect();
              });

              $("#button-send").on("click", (e) => {
                  send();
              });
              $("#msg").on("keypress", function(e) {
              chatStatus = document.querySelector('.draggable_chat');
              displayValue = window.getComputedStyle(chatStatus).getPropertyValue('display');
              console.log(user)
              console.log(chatStatus);
            console.log("displayValue 정보 : ",displayValue)
            console.log("displayValue : ",displayValue === "block")
            console.log("user and displayValue : ",(!(user=="anonymousUser") && displayValue === "block"))
              console.log(!(user=="anonymousUser"))
                  if (e.key === "Enter") {
                      send();
                  }
              });
            $("#logout").on("click", (e) => {
               console.log("로그아웃")
               onClose();
               websocket.close();
              });
            websocket = new WebSocket(`ws://${currentHost}/ws/chat`); //이거는 http 테스터용
            //const websocket = new WebSocket(`wss://${currentHost}/ws/chat`); //이거는 https배포용


              websocket.onmessage = onMessage;
              websocket.onopen = onOpen;
              //websocket.onclose =onClose;
              //websocket.addEventListener("close", (event) => {onClose();});
              //위두개는 같은코드이나 .onclose제대로 작동안함


              function send(){
                if(!(user=="anonymousUser")&&displayValue === "block"){
                    var username;
                    if(!(user.attributes==null))
                        username= user.attributes.name;
                    else username=user.username;
                    let msg = document.getElementById("msg");
                    console.log(username + ":" + msg.value);
                    websocket.send(username + ":" + msg.value);
                    msg.value = '';

                }else{
                    window.location.href = "/user/login";
                }
              }

              //채팅창에서 나갔을 때
              function onClose() {
                 console.log("소켓아웃")
                 customMessage(": 님이 방을 나가셨습니다.")
              }

              //채팅창에 들어왔을 때
              function onOpen() {
                    console.log(websocket)
                  customMessage(": 님이 방을 들어왔습니다.")
              }
              function customMessage(str){
                  if(!(user=="anonymousUser")&&displayValue === "block"){
                    var username;
                    if(!(user.attributes==null))
                        username= user.attributes.name;
                    else username=user.username;
                    var str = username + str;
                    websocket.send(str);
                  }
              }

              function onMessage(msg) {
                  var data = msg.data;
                  var sessionId = null;
                  //데이터를 보낸 사람
                  var message = null;
                  var arr = data.split(":");

                  for(var i=0; i<arr.length; i++){
                      console.log('arr[' + i + ']: ' + arr[i]);
                  }
                  var cur_session;
                  if(!(user.attributes==null))
                     cur_session = user.attributes.name;
                  else cur_session = user.username;

                  //현재 세션에 로그인 한 사람 디버그용
                  console.log("cur_session : " + cur_session);
                  sessionId = arr[0];
                  message = arr[1];
                  console.log("sessionID : " + sessionId);
                  console.log("cur_session : " + cur_session);

                  //로그인 한 클라이언트와 타 클라이언트를 분류하기 위함
                  if(sessionId == cur_session){
                      var str = "<div class='col-6'>";
                      str += "<div class='alert alert-secondary'>";
                      str += "<b>" + sessionId + " : " + message + "</b>";
                      str += "</div></div>";
                      $("#msgArea").append(str);
                  }
                  else{
                      var str = "<div class='col-6'>";
                      str += "<div class='alert alert-warning'>";
                      str += "<b>" + sessionId + " : " + message + "</b>";
                      str += "</div></div>";
                      $("#msgArea").append(str);
                  }
              }
            });
        // 채팅 스크립트 끝

</script>