<!doctype html>
<html layout:decorate="~{layout}"
      lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <!--  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
  <!-- sbb CSS -->
  <link rel="stylesheet" type="text/css" th:href="@{/userBoard_businessBoard/tendency_detail.css}">
  <title>방게!</title>
</head>
<body layout:fragment="content">
<!-- 최상단을 표시하기위한 div -->
<div id="scrolltop"></div>
<div class="form">
  <!--  머리부분 로그인 회원가입 등 시작-->
  <div class=board_head>
    <div class=board_tap>
      <a class="logo" th:href="@{/UserBoard/main}">
        <div>
          <p>방게</p>
          <p>방구석인테리어 게시판 </p>
        </div>
      </a>
      <a class="logo_base select" th:href="@{/UserBoard/main}">
        <div>
          <p>유저게시판</p>
        </div>
      </a>
      <a class="logo_base" th:href="@{/BusinessBoard/home}">
        <div>
          <p>사업자 게시판</p>
        </div>
      </a>
      <a class="logo_base" th:href="@{/Store/}">
        <div>
          <p>스토어</p>
        </div>
      </a>
    </div>
    <div class="board_login">
      <a th:href="@{/user/login}" class="login">
        <div>
          <p>로그인</p>
        </div>
      </a>
      /
      <a th:href="@{/user/Initiation_General}" class="signup">
        <div>
          <p>회원가입</p>
        </div>
      </a>
    </div>
  </div>
  <!--  머리부분 로그인 회원가입 등 끝-->
  <hr>
  <!--  상단 nav바 시작-->
  <nav class="top_nav">
    <a th:href="@{/UserBoard/main}">
      <div>
        <p>홈</p>
      </div>
    </a>
    <a th:href="@{/UserBoard/review}">
      <div>
        <p>리뷰</p>
      </div>
    </a>
    <a th:href="@{/UserBoard/question}">
      <div>
        <p>질문</p>
      </div>
    </a>
    <a th:href="@{/UserBoard/tip}">
      <div>
        <p>팁</p>
      </div>
    </a>
    <a th:href="@{/UserBoard/free_Board}">
      <div>
        <p>자유게시판</p>
      </div>
    </a>
    <a th:href="@{/UserBoard/tendency}" class="select">
      <div>
        <p>인테리어
        <p>성향 테스트</p>
        </p>
      </div>
    </a>
    <a href="#" id="comparison_open">
      <div>
        <p>조명색비교 </p>
      </div>
    </a>
    <a href="#" id="continence_open">
      <div>
        <p>업체별
        <p>자제패턴</p>
        </p>
      </div>
    </a>
  </nav>
  <!--  상단 nav바 끝 -->

  <!--성향테스트 해석 시작-->
  <hr class="ch_hr">
  <div class="ch_end">인테리어 성향테스트 결과</div>
  <hr class="ch_hr">
  <div class="ch_box">
    <img src="/image/view?file_name=black_it.jpg">
    <p>[깔끔함을 선호하는 당신!]</p>
    <p>30년 소원을 성취하는 운이다. 42년 잃어버린 물건을 집 안에서 찾는다. 54년 서로 도와가면서 지내니 근심이 사라진다. 66년 부부화합을 하게 되는 날이다. 78년 언행에 각별히 조심해야 한다. 90년 행운이 찾아오게 된다. </p>
    <p>현대지향형의 모던한 스타일을 선호하는 당신, 당신은 화이트&블랙 컬러를 선호하며 가구나 수납이 흰색베이스 이기를 선호하지요. 흰색베이스의 스타일링은 집안을 깔끔하게 보이도록 하고 블랙컬러의
      포인트는 밋밋해 보일 수 있는 화이트 배경에 강렬한 이미지를 남깁니다. 블랙컬러는 화이트의 대비색상으로 서로 잘 어울리는 조합이며, 조명을 주백색이나 전구색을 활용하여 화이트&블랙 뿐인
      집안 공간에 차분하고 따듯한 느낌을 선사하는 곳도 많이 있습니다. 바쁜 현대 사회속 퇴근길에 들어선 집이 깔끔하고 따듯한 분위기를 맞이하며 휴식을 취하시는건 어떠실까요? </p>
    <p>35년 바라던 소원을 성취한다. 47년 기회가 오니 서두르면 안 된다. 59년 일이 빠르게 성사가 된다. 71년 바라던 일이 해결되어 기분이 좋다. 83년 마음속에 평온함이 찾아온다. 95년 불길 운이 없어지니 마음이 편하다.</p>
  </div>


  <!--성향테스트 해석 끝-->


</div>
<!-- 가장아래를 표시하기위한 div  -->
<div id="scrollbottom"></div>


<!--전체 챗화면 시작 스크립트 사용유의-->
<div class="draggable_chat">
  <!--  상단바     -->
  <div class="chat_top_var">
    <p>전체채팅창</p>
    <button id="chat_close" type="button">X</button>
  </div>
  <!--  하단 챗부분 전송과 채팅창    -->
  <div class="chat_main">
    <div class="chat_body" id ="msgArea">
    </div>

    <div class="input_body">
      <input type="text" id="msg">
      <button type="button" id="button-send">전송</button>
    </div>
  </div>

</div>
<!--전체 챗화면 끝 스크립트 사용유의-->
<!--색온도 팝업창 시작 스크립트 사용유의-->
<div class="draggable_comparison">
  <!--  상단바     -->
  <div class="comparison_top_var">
    <p>색온도</p>
    <button id="comparison_close" type="button">X</button>
  </div>
  <!--  조명색비교-->
  <div class="comparison_color">
    <div class="comparison_img">
      <img src="https://www.zipdeco.co.kr/upload/2020/03/24/EDITOR_202003240252511210_rQBAG" alt="">
    </div>
    <ul>
      <li>
        <label class="comparison-parent-span">
          <input class="input-position" id="cb_input1" role="switch" type="checkbox"
                 onchange="toggleColor(1)"/>
          <span>주광색</span>
        </label>
      </li>
      <li>
        <label class="comparison-parent-span">
          <input class="input-position" id="cb_input2" role="switch" type="checkbox"
                 onchange="toggleColor(2)"/>
          <span>주백색</span>
        </label>
      </li>
      <li>
        <label class="comparison-parent-span">
          <input class="input-position" id="cb_input3" role="switch" type="checkbox"
                 onchange="toggleColor(3)"/>
          <span>전구색</span>
        </label>
      </li>
    </ul>
    <p id="currentTemperature">현재 색온도()</p>
  </div>
  <!--  조명색비교 끝-->

</div>
<!--색온도 팝업창 끝 스크립트 사용유의-->
<!--업체별 자제패턴 팝업창 시작-->
<div class="draggable_continence">
  <!--  상단바     -->
  <div class="popup_top_var">
    <p>팝업창</p>
    <button id="continence_close" type="button">X</button>
  </div>
  <p class="pat">인테리어 패턴</p>
  <div class="pattern">
    <img src="https://i.pinimg.com/736x/5b/06/8f/5b068fb68befe23aa652159febcc0950.jpg">
  </div>
  <div class="pat_in">
    <div class="pat_name">
      <select class="p_p">
        <option value="item1">업체 1</option>
        <option value="item2">업체 2</option>
        <option value="item3">업체 3</option>
        <option value="item4">업체 4</option>
      </select>
    </div>
    <div class="pat_chart">
      <select class="p_p">
        <option value="item1">자제 1</option>
        <option value="item2">자제 2</option>
        <option value="item3">자제 3</option>
        <option value="item4">자제 4</option>
      </select>
    </div>
  </div>
  <div class="pattern_img">
    <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
    <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
    <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
    <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
    <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
  </div>
</div>
<!--업체별 자제패턴 팝업창 끝-->
</body>
<script layout:fragment="script" type='text/javascript'>

// 채팅창 움직이기용 시작
const draggableElementChat = document.querySelector('.draggable_chat');
let isDraggingChat = false;
let offsetXChat = 0;
let offsetYChat = 0;

draggableElementChat.addEventListener('mousedown', function(event) {
  isDraggingChat = true;
  offsetXChat = event.clientX - draggableElementChat.getBoundingClientRect().left;
  offsetYChat = event.clientY - draggableElementChat.getBoundingClientRect().top;
});

document.addEventListener('mousemove', function(event) {
  if (isDraggingChat) {
    const x = event.clientX - offsetXChat;
    const y = event.clientY - offsetYChat;
    draggableElementChat.style.left = x + 'px';
    draggableElementChat.style.top = y + 'px';
  }
});

document.addEventListener('mouseup', function() {
  isDraggingChat = false;
});
// 채팅창 움직이기 끝


// 채팅창 종료혹은 숨김처리 시작
const chatCloseButton = document.getElementById("chat_close");
chatCloseButton.addEventListener('click',()=>{
  draggableElementChat.style.display= "none"
})
// 채팅창 종료혹은 숨김처리 끝


//챗팅창 켜기 시작
const globalChatOpen = document.getElementById("global_chat_open");
globalChatOpen.addEventListener('click',()=>{
  draggableElementChat.style.display = "block"
})
// 채팅창켜기 끝



//색온도 시작
// 색온도 움직이기 시작
const draggableElementComparison = document.querySelector('.draggable_comparison');
let isDraggingComparison = false;
let offsetXComparison = 0;
let offsetYComparison = 0;
draggableElementComparison.addEventListener('mousedown', function(event) {
  isDraggingComparison = true;
  offsetXComparison = event.clientX - draggableElementComparison.getBoundingClientRect().left;
  offsetYComparison = event.clientY - draggableElementComparison.getBoundingClientRect().top;
});
document.addEventListener('mousemove', function(event) {
  if (isDraggingComparison) {
    const x = event.clientX - offsetXComparison;
    const y = event.clientY - offsetYComparison;
    draggableElementComparison.style.left = x + 'px';
    draggableElementComparison.style.top = y + 'px';
  }
});
document.addEventListener('mouseup', function() {
  isDraggingComparison = false;
});
// 색온도 움직이기 끝
// 색온도 종료혹은 숨김처리 시작
const comparisonCloseButton = document.getElementById("comparison_close");
comparisonCloseButton.addEventListener('click',()=>{
  draggableElementComparison.style.display= "none"
})
// 색온도 종료혹은 숨김처리 끝
//색온도 켜기 시작
const ComparisonOpen = document.getElementById("comparison_open");
ComparisonOpen.addEventListener('click',()=>{
  draggableElementComparison.style.display = "block"
})
// 색온도켜기 끝
//색온도 버튼
function toggleColor(colorNumber) {
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  var selectedCheckbox = checkboxes[colorNumber - 1];
  var isChecked = selectedCheckbox.checked;

  checkboxes.forEach(function (checkbox, index) {
    if (index !== colorNumber - 1) {
      checkbox.checked = false;
    }
  });

  var currentTemperatureElement = document.getElementById('currentTemperature');
  currentTemperatureElement.textContent = isChecked ? selectedCheckbox.nextElementSibling.textContent : '';

  var comparisonImg = document.querySelector('.comparison_img');

  if (isChecked) {
    if (colorNumber === 1) {
      comparisonImg.classList.add('overlay1');
      comparisonImg.classList.remove('overlay2');
      comparisonImg.classList.remove('overlay3');
    }
    else if (colorNumber === 2) {
      comparisonImg.classList.remove('overlay1');
      comparisonImg.classList.add('overlay2');
      comparisonImg.classList.remove('overlay3');
    }
    else if (colorNumber === 3) {
      comparisonImg.classList.remove('overlay1');
      comparisonImg.classList.remove('overlay2');
      comparisonImg.classList.add('overlay3');
    }
  }
  else {
    comparisonImg.classList.remove('overlay1');
    comparisonImg.classList.remove('overlay2');
    comparisonImg.classList.remove('overlay3');
  }
}
// 색온도 버튼 끝


//색온도 시작 끝

// 인테리어 패턴 움직이기  시작
const draggableElementContinence = document.querySelector('.draggable_continence');
let isDraggingPop = false;
let offsetXPop = 0;
let offsetYPop = 0;

draggableElementContinence.addEventListener('mousedown', function(event) {
  isDraggingPop = true;
  offsetXPop = event.clientX - draggableElementContinence.getBoundingClientRect().left;
  offsetYPop = event.clientY - draggableElementContinence.getBoundingClientRect().top;
});

document.addEventListener('mousemove', function(event) {
  if (isDraggingPop) {
    const x = event.clientX - offsetXPop;
    const y = event.clientY - offsetYPop;
    draggableElementContinence.style.left = x + 'px';
    draggableElementContinence.style.top = y + 'px';
  }
});

document.addEventListener('mouseup', function() {
  isDraggingPop = false;
});
// 인테리어 패턴  움직이기 끝
//인테리어 패턴 켜기 시작
const ContinenceOpen = document.getElementById("continence_open");
ContinenceOpen.addEventListener('click',()=>{
  draggableElementContinence.style.display = "block"
})
// 인테리어 패턴켜기 끝
// 인테리어 패턴 숨김처리 시작
const popupContinenceCloseButton = document.getElementById("continence_close");
popupContinenceCloseButton.addEventListener('click',()=>{
  draggableElementContinence.style.display= "none"
})
// 인테리어 패턴 숨김처리 끝
// 인테리어 패턴  종료혹은 숨김처리 끝


//성향테스트 버튼

function toggleColor(colorNumber) {
  var checkboxes = document.querySelectorAll('input[type="checkbox"]');
  var selectedCheckbox = checkboxes[colorNumber - 1];
  var isChecked = selectedCheckbox.checked;

  checkboxes.forEach(function (checkbox, index) {
    if (index !== colorNumber - 1) {
      checkbox.checked = false;
    }
  });
}




// 성향테스트 버튼 끝


</script>
</html>

