<!doctype html>
<html layout:decorate="~{layout}"
      lang="ko" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">-->
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/userBoard_businessBoard/tendency.css}">
    <title>방게!</title>
</head>
<body layout:fragment="content">

<!-- 최상단을 표시하기위한 div -->
<div id="scrolltop"></div>
<div class="form">
    <!--  머리부분 로그인 회원가입 등 시작-->
    <div class=board_head>
        <div class=board_tap>
            <a class="logo" th:href="@{/UserBoard/main}">
                <div>
                    <p>방게</p>
                    <p>방구석인테리어 게시판 </p>
                </div>
            </a>
            <a class="logo_base select" th:href="@{/UserBoard/main}">
                <div>
                    <p>유저게시판</p>
                </div>
            </a>
            <a class="logo_base" th:href="@{/BusinessBoard/home}">
                <div>
                    <p>사업자 게시판</p>
                </div>
            </a>
            <a class="logo_base" th:href="@{/Store/}">
                <div>
                    <p>스토어</p>
                </div>
            </a>
        </div>
        <div class="board_login" sec:authorize="isAnonymous()">
            <a class="login" th:href="@{/user/login}">
                <div>
                    <p>로그인</p>
                </div>
            </a>
            /
            <a th:href="@{/user/Initiation_General}" class="signup">
                <div>
                    <p>회원가입</p>
                </div>
            </a>
        </div>
        <div class="board_login" sec:authorize="isAuthenticated()">
            <!--        sec:authorize="isAuthenticated()" 로그인 성공시 나오게 하는 코드       -->
            <a class="login" th:href="@{/user/logout}">
                <div>
                    <p>로그아웃</p>
                </div>
            </a>
        </div>
    </div>
    <!--  머리부분 로그인 회원가입 등 끝-->
    <hr>
    <!--  상단 nav바 시작-->
    <nav class="top_nav">
        <a th:href="@{/UserBoard/main}">
            <div>
                <p>홈</p>
            </div>
        </a>
        <a th:href="@{/UserBoard/review}">
            <div>
                <p>리뷰</p>
            </div>
        </a>
        <a th:href="@{/UserBoard/question}">
            <div>
                <p>질문</p>
            </div>
        </a>
        <a th:href="@{/UserBoard/tip}">
            <div>
                <p>팁</p>
            </div>
        </a>
        <a th:href="@{/UserBoard/free_Board}">
            <div>
                <p>자유게시판</p>
            </div>
        </a>
        <a th:href="@{/UserBoard/tendency}" class="select">
            <div>
                <p>인테리어
                <p>성향 테스트</p>
                </p>
            </div>
        </a>
        <a href="#" id="comparison_open">
            <div>
                <p>조명색비교 </p>
            </div>
        </a>
        <a href="#" id="continence_open">
            <div>
                <p>업체별
                <p>자제패턴</p>
                </p>
            </div>
        </a>
    </nav>
    <!--  상단 nav바 끝 -->

    <!--성향테스트 시작-->
    <div class="ch_box">
        <div class="ch_flex">
            <div class="image-checkbox">
                <input type="checkbox" id="myCheckbox1" onchange="toggleColor_tendency(1)" onclick="open1()">
                <label for="myCheckbox1">
                    <img class="img_size_tendency" src="/image/view?file_name=KakaoTalk_20230704_110025538_15.jpg">
                </label>
            </div>
            <div class="image-checkbox">
                <input type="checkbox" id="myCheckbox2" onchange="toggleColor_tendency(2)" onclick="open2()">
                <label for="myCheckbox2">
                    <img class="img_size_tendency" src="/image/view?file_name=KakaoTalk_20230704_111252912_02.jpg"
                         alt="이미지">
                </label>
            </div>
            <div class="image-checkbox">
                <input type="checkbox" id="myCheckbox3" onchange="toggleColor_tendency(3)" onclick="open3()">
                <label for="myCheckbox3">
                    <img class="img_size_tendency" src="/image/view?file_name=black_it.jpg"
                         alt="이미지">
                </label>
            </div>
        </div>
        <div class="ch_flex2">
            <div class="image-checkbox">
                <input type="checkbox" id="myCheckbox4" onchange="toggleColor_tendency(4)" onclick="open4()">
                <label for="myCheckbox4">
                    <img class="img_size_tendency" src="/image/view?file_name=red_it.jpg"
                         alt="이미지">
                </label>
            </div>
            <div class="image-checkbox">
                <input type="checkbox" id="myCheckbox5" onchange="toggleColor_tendency(5)" onclick="open5()">
                <label for="myCheckbox5">
                    <img class="img_size_tendency" src="/image/view?file_name=clean2_it.jpg"
                         alt="이미지">
                </label>
            </div>
            <div class="image-checkbox">
                <input type="checkbox" id="myCheckbox6" onchange="toggleColor_tendency(6)" onclick="open6()">
                <label for="myCheckbox6">
                    <img class="img_size_tendency" src="/image/view?file_name=clean_it.jpg"
                         alt="이미지">
                </label>
            </div>
        </div>
    </div>

    <!--성향테스트 끝-->

</div>

<!-- 가장아래를 표시하기위한 div  -->
<div id="scrollbottom"></div>

<!--전체 챗화면 시작 스크립트 사용유의-->
<div class="draggable_chat">
    <!--  상단바     -->
    <div class="chat_top_var">
        <p>전체채팅창</p>
        <button id="chat_close" type="button">X</button>
    </div>
    <!--  하단 챗부분 전송과 채팅창    -->
    <div class="chat_main">
        <div class="chat_body" id ="msgArea">
        </div>

        <div class="input_body">
            <input type="text" id="msg">
            <button type="button" id="button-send">전송</button>
        </div>
    </div>

</div>
<!--전체 챗화면 끝 스크립트 사용유의-->

<!--색온도 팝업창 시작 스크립트 사용유의-->
<div class="draggable_comparison">
    <!--  상단바     -->
    <div class="comparison_top_var">
        <p>색온도</p>
        <button id="comparison_close" type="button">X</button>
    </div>
    <!--  조명색비교-->
    <div class="comparison_color">
        <div class="comparison_img">
            <img src="https://www.zipdeco.co.kr/upload/2020/03/24/EDITOR_202003240252511210_rQBAG" alt="">
        </div>
        <ul>
            <li>
                <label class="comparison-parent-span">
                    <input class="input-position" id="cb_input1" role="switch" type="checkbox"
                           onchange="toggleColor(1)"/>
                    <span>주광색</span>
                </label>
            </li>
            <li>
                <label class="comparison-parent-span">
                    <input class="input-position" id="cb_input2" role="switch" type="checkbox"
                           onchange="toggleColor(2)"/>
                    <span>주백색</span>
                </label>
            </li>
            <li>
                <label class="comparison-parent-span">
                    <input class="input-position" id="cb_input3" role="switch" type="checkbox"
                           onchange="toggleColor(3)"/>
                    <span>전구색</span>
                </label>
            </li>
        </ul>
        <p id="currentTemperature">현재 색온도()</p>
    </div>
    <!--  조명색비교 끝-->

</div>
<!--색온도 팝업창 끝 스크립트 사용유의-->

<!--업체별 자제패턴 팝업창 시작-->
<div class="draggable_continence">
    <!--  상단바     -->
    <div class="popup_top_var">
        <p>팝업창</p>
        <button id="continence_close" type="button">X</button>
    </div>
    <p class="pat">인테리어 패턴</p>
    <div class="pattern">
        <img src="https://i.pinimg.com/736x/5b/06/8f/5b068fb68befe23aa652159febcc0950.jpg">
    </div>
    <div class="pat_in">
        <div class="pat_name">
            <select class="p_p">
                <option value="item1">업체 1</option>
                <option value="item2">업체 2</option>
                <option value="item3">업체 3</option>
                <option value="item4">업체 4</option>
            </select>
        </div>
        <div class="pat_chart">
            <select class="p_p">
                <option value="item1">자제 1</option>
                <option value="item2">자제 2</option>
                <option value="item3">자제 3</option>
                <option value="item4">자제 4</option>
            </select>
        </div>
    </div>
    <div class="pattern_img">
        <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
        <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
        <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
        <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
        <img src="https://th.bing.com/th/id/OIP.t05PSmPFrOFlqy3FxlkrhQHaGU?pid=ImgDet&rs=1">
    </div>
</div>
<!--업체별 자제패턴 팝업창 끝-->
</body>
<!--전체 챗화면 끝 스크립트 사용유의-->
<script layout:fragment="script" type='text/javascript'>

    //성향테스트 링크 버튼
    function open1(){
  window.open("http://localhost:8081/user/tendency_1", "_self");
}
function open2(){
  window.open("http://localhost:8081/user/tendency_2", "_self");
}
function open3(){
  window.open("http://localhost:8081/user/tendency_3", "_self");
}function open4(){
  window.open("http://localhost:8081/user/tendency_4", "_self");
}
function open5(){
  window.open("http://localhost:8081/user/tendency_5", "_self");
}
function open6(){
  window.open("http://localhost:8081/user/tendency_6", "_self");
}

    //성향테스트 버튼


function toggleColor_tendency(colorNumber) {
  var checkboxes_tendency = document.querySelectorAll('input[type="checkbox"]');
  var selectedCheckbox_tendency = checkboxes_tendency[colorNumber - 1];
  var isChecked_tendency = selectedCheckbox_tendency.checked;

  checkboxes_tendency.forEach(function (checkbox, index) {
    if (index !== colorNumber - 1) {
      checkbox.checked = false;
    }
  });
}
// 성향테스트 버튼 끝


// 채팅창 움직이기용 시작
const draggableElementChat = document.querySelector('.draggable_chat');
let isDraggingChat = false;
let offsetXChat = 0;
let offsetYChat = 0;

draggableElementChat.addEventListener('mousedown', function(event) {
  isDraggingChat = true;
  offsetXChat = event.clientX - draggableElementChat.getBoundingClientRect().left;
  offsetYChat = event.clientY - draggableElementChat.getBoundingClientRect().top;
});

document.addEventListener('mousemove', function(event) {
  if (isDraggingChat) {
    const x = event.clientX - offsetXChat;
    const y = event.clientY - offsetYChat;
    draggableElementChat.style.left = x + 'px';
    draggableElementChat.style.top = y + 'px';
  }
});

document.addEventListener('mouseup', function() {
  isDraggingChat = false;
});
// 채팅창 움직이기 끝


// 채팅창 종료혹은 숨김처리 시작
const chatCloseButton = document.getElementById("chat_close");
chatCloseButton.addEventListener('click',()=>{
  draggableElementChat.style.display= "none"
})
// 채팅창 종료혹은 숨김처리 끝


//챗팅창 켜기 시작
const globalChatOpen = document.getElementById("global_chat_open");
globalChatOpen.addEventListener('click',()=>{
  draggableElementChat.style.display = "block"
})
// 채팅창켜기 끝



//색온도 시작
// 색온도 움직이기 시작
const draggableElementComparison = document.querySelector('.draggable_comparison');
let isDraggingComparison = false;
let offsetXComparison = 0;
let offsetYComparison = 0;
draggableElementComparison.addEventListener('mousedown', function(event) {
  isDraggingComparison = true;
  offsetXComparison = event.clientX - draggableElementComparison.getBoundingClientRect().left;
  offsetYComparison = event.clientY - draggableElementComparison.getBoundingClientRect().top;
});
document.addEventListener('mousemove', function(event) {
  if (isDraggingComparison) {
    const x = event.clientX - offsetXComparison;
    const y = event.clientY - offsetYComparison;
    draggableElementComparison.style.left = x + 'px';
    draggableElementComparison.style.top = y + 'px';
  }
});
document.addEventListener('mouseup', function() {
  isDraggingComparison = false;
});
// 색온도 움직이기 끝
// 색온도 종료혹은 숨김처리 시작
const comparisonCloseButton = document.getElementById("comparison_close");
comparisonCloseButton.addEventListener('click',()=>{
  draggableElementComparison.style.display= "none"
})
// 색온도 종료혹은 숨김처리 끝
//색온도 켜기 시작
const ComparisonOpen = document.getElementById("comparison_open");
ComparisonOpen.addEventListener('click',()=>{
  draggableElementComparison.style.display = "block"
})
// 색온도켜기 끝
//색온도 버튼
function toggleColor(colorNumber) {
  var checkboxes = document.querySelectorAll('.input-position');
  var selectedCheckbox = checkboxes[colorNumber - 1];
  var isChecked = selectedCheckbox.checked;

  checkboxes.forEach(function (checkbox, index) {
    if (index !== colorNumber - 1) {
      checkbox.checked = false;
    }
  });

  var currentTemperatureElement = document.getElementById('currentTemperature');
  currentTemperatureElement.textContent = isChecked ? selectedCheckbox.nextElementSibling.textContent : '';

  var comparisonImg = document.querySelector('.comparison_img');

  if (isChecked) {
    if (colorNumber === 1) {
      comparisonImg.classList.add('overlay1');
      comparisonImg.classList.remove('overlay2');
      comparisonImg.classList.remove('overlay3');
    }
    else if (colorNumber === 2) {
      comparisonImg.classList.remove('overlay1');
      comparisonImg.classList.add('overlay2');
      comparisonImg.classList.remove('overlay3');
    }
    else if (colorNumber === 3) {
      comparisonImg.classList.remove('overlay1');
      comparisonImg.classList.remove('overlay2');
      comparisonImg.classList.add('overlay3');
    }
  }
  else {
    comparisonImg.classList.remove('overlay1');
    comparisonImg.classList.remove('overlay2');
    comparisonImg.classList.remove('overlay3');
  }
}
// 색온도 버튼 끝


//색온도 시작 끝

// 인테리어 패턴 움직이기  시작
const draggableElementContinence = document.querySelector('.draggable_continence');
let isDraggingPop = false;
let offsetXPop = 0;
let offsetYPop = 0;

draggableElementContinence.addEventListener('mousedown', function(event) {
  isDraggingPop = true;
  offsetXPop = event.clientX - draggableElementContinence.getBoundingClientRect().left;
  offsetYPop = event.clientY - draggableElementContinence.getBoundingClientRect().top;
});

document.addEventListener('mousemove', function(event) {
  if (isDraggingPop) {
    const x = event.clientX - offsetXPop;
    const y = event.clientY - offsetYPop;
    draggableElementContinence.style.left = x + 'px';
    draggableElementContinence.style.top = y + 'px';
  }
});

document.addEventListener('mouseup', function() {
  isDraggingPop = false;
});
// 인테리어 패턴  움직이기 끝
//인테리어 패턴 켜기 시작
const ContinenceOpen = document.getElementById("continence_open");
ContinenceOpen.addEventListener('click',()=>{
  draggableElementContinence.style.display = "block"
})
// 인테리어 패턴켜기 끝
// 인테리어 패턴 숨김처리 시작
const popupContinenceCloseButton = document.getElementById("continence_close");
popupContinenceCloseButton.addEventListener('click',()=>{
  draggableElementContinence.style.display= "none"
})
// 인테리어 패턴 숨김처리 끝
// 인테리어 패턴  종료혹은 숨김처리 끝


</script>
</html>

